body {
    background: #D9F0FC;
}

aside {
    float: left;
    background: #F2E3FF;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #D8C3FF
}

aside img{
    width: 95px;
    float: left;
}

aside .logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
    position: relative;
    bottom: -23px;
}

aside h3{
    margin-top: 70px;
    font-size: 27px;
    color: black;
}

aside ul li:hover, 
aside ul a:hover {
    text-decoration: none;
    color: inherit;
    transform: scale(1.05);
}

aside ul {list-style: none;}
aside ul li{
    color: black;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

main .features {
    float: left;
    color:black;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

main .features a {
    background-color: #FFE7B7 ;
    border-color: #FFE7B7 ;
    margin-top: 10px;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

main .features img {
    display: block;
	margin: 0 auto;
    width: 350px; 
    height:350px

}