{% extends 'firs_app/layout.html' %}

{% block title %}about page{% endblock %}

{% block content %}
<div class = "features">
    <h1>About</h1>
    <p>My name is Kamila, but I am known more as <b>merrlia</b>. I am 17 years old, I am studying in college as a programmer (to this day I regret that I entered this major). I decided to create a blog to share my life with you. I try to post new posts often, so stay tuned. The page will also be further developed in the future! Thank you for staying with me :^</p>
</div>
{% endblock %}